.black {
	background-color: black;
	color: rgb(255, 255, 255);
	margin-left: 50px;
	margin-right: 50px;
}

.red {
	background-color: red;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 100px;
}

.green {
	background-color: green;
	margin-left: 150px;
	margin-right: 150px;
}
