* {
	margin: 0;
	padding: 0;
}

.image {
	background-image: url(/images/oldtimer.jpg);
	height: 600px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}
